@import '../../../style/base';

.ProjectItem {
  margin-top: 60px;
  line-height: 1;
  font-size: 20px;

  @include e(description) {
    margin-top: 40px;
    font-size: 16px;
  }
}

.ProjectMembers {
  margin-top: 60px;

  @include e(heading) {
    font-size: 26px;
  }

  @include e(user) {
    line-height: 1.4;
    font-size: 18px;
  }
}
